.race-container {
  width: 100%;
  margin-right: 1rem;
}

.random-container {
  min-width: 320px;
  max-width: 420px;
}

@media (max-width: 768px) {
  .container-main {
    flex-wrap: wrap;
  }

  .race-container {
    margin-right: 0;
  }

  .random-container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .random-container {
    max-width: 100%;
  }
}
